.loginCard {
  width: 420px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow for depth */
  border-radius: 8px; /* Slightly rounded corners for a softer look */
  background: #fff; /* White background to contrast with possibly darker backgrounds */
  height: 100%;
}

.welcomeContainer {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 10px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 120px;
}

.textField {
  width: 100% !important; /* Match the width of the text fields */
  margin-bottom: 16px !important;/* Increase spacing for visual separation */
  margin-bottom: 10px !important;
}

.radioGroup {
  margin-top: 16px; /* Add space above the radio buttons */
  justify-content: center; /* Center the radio buttons */
}

.loginButton {
  margin-top: 20px; /* Space above the button */
  padding: 10px 30px; /* Padding for a larger click area */
  font-weight: bold; /* Make the button text bold */
  color: white; /* White text for contrast */
  background-color: #1976d2; /* A pleasant blue that stands out */
  border: none; /* Remove any default border */
  cursor: pointer; /* Change cursor to indicate it's clickable */
  transition: background-color 0.3s; /* Transition for the button to provide feedback on hover */
}

.loginButton:hover {
  background-color: #115293; /* Darken button on hover for interaction feedback */
}

.error {
  color: #d32f2f; /* Red color for errors to stand out */
  background-color: #fff3e0; /* Light orange background for highlighting */
  padding: 8px; /* Padding to create space around the text */
  margin-top: 10px; /* Space above error message */
  text-align: center; /* Center the error text */
  border-radius: 4px; /* Rounded corners for the highlight */
  width: calc(100% - 16px); /* Adjust width to allow for padding */
  box-sizing: border-box; 
}

/* When the radio buttons change to a horizontal layout on larger screens */
@media (min-width: 600px) {
  .radioGroup {
    flex-direction: row;
  }
}

/* Accessibility Improvements */
.radioGroup .MuiFormControlLabel-root {
  margin-right: 16px; /* Space between radio buttons */
}

/* Improve focus state for better keyboard navigation */
.loginButton:focus,
.textField:focus,
.radioGroup .MuiFormControlLabel-root .MuiRadio-root:focus {
  outline: 3px solid #80bdff; /* Blue outline to match button color */
  outline-offset: 2px; /* Offset the outline a bit */
}
