.account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    background: url('../../../public/images/SpaceBackground.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 0; 
    padding-bottom: 0; 
}

.logo {
    flex: 0 0 auto; 
    margin-top: 1vh; 
    margin-bottom: 10px; 
    height: 250px;
    width: 250px;
}

.account-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    min-height: 400px; 
    margin-top: -3vh; 
}

img {
    width: 100%;
    height: auto;
}
